# Sample gitconfig
#
# You probably want to change the [user] section here since you are not me.
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
    helper = osxkeychain
[alias]
    co                = checkout
    promote           = !$ZSH/bin/git-promote
    wtf               = !$ZSH/bin/git-wtf
    rank-contributers = !$ZSH/bin/git-rank-contributers
    unpushed-st       = !$ZSH/bin/git-unpushed-stat
    nuke              = !$ZSH/bin/git-nuke
    count             = shortlog -sn
    lc                = !$ZSH/bin/git-add-rm-line-count
    g                 = grep --break --heading --line-number
    changed           = show --pretty=\"format:\" --name-only
    gi                = grep --break --heading --line-number -i
    sync              = !zsh -ic git-sync
    cp-branch-name    = !git rev-parse --abbrev-ref HEAD | pbcopy
[color]
    diff    = auto
    status  = auto
    branch  = auto
    ui      = true
[core]
    excludesfile      = ~/.gitignore
    editor            = vim
    compression       = -1
    autocrlf          = input
    whitespace        = trailing-space,space-before-tab
    precomposeunicode = true
[apply]
    whitespace = nowarn
[help]
    autocorrect = 1
[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    cmd           = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = true
    keepBackup    = false
[diff]
    tool = diffmerge
[difftool "diffmerge"]
    cmd = diffmerge $LOCAL $REMOTE
[difftool]
    prompt = false
[grep]
    extendRegexp = true
    lineNumber   = true
[push]
    default = simple
