# Sample gitconfig
#
# You probably want to change the [user] section here since you are not me.
[user]
    name    = AUTHORNAME
    email   = AUTHOREMAIL
    helper  = GIT_CREDENTIAL_HELPER
[alias]
    co                  = checkout
    promote             = !$ZSH/bin/git-promote
    wtf                 = !$ZSH/bin/git-wtf
    unpushed-st         = !$ZSH/bin/git-unpushed-stat
    nuke                = !$ZSH/bin/git-nuke
    count               = shortlog -sn
    lc                  = !$ZSH/bin/git-add-rm-line-count
    g                   = grep --break --heading --line-number
    gi                  = grep --break --heading --line-number -i
    changed             = show --pretty=\"format:\" --name-only
    sync                = !zsh -ic git-sync
    cp-branch-name      = !git rev-parse --abbrev-ref HEAD | pbcopy
    delete-local-merged = !zsh -ic git-delete-local-merged
    add-upstream        = !zsh -ic \"add-upstream $*\"
    sync                = !zsh -ic git-sync
    fm                  = !zsh -ic \"git-fetch-merge $*\"
    pr                  = !zsh -ic \"open-pr $*\"
[color]
    diff    = auto
    status  = auto
    branch  = auto
    ui      = true
[core]
    excludesfile      = ~/.gitignore
    editor            = vim
    compression       = -1
    autocrlf          = input
    whitespace        = trailing-space,space-before-tab
    precomposeunicode = true
[apply]
    whitespace = nowarn
[help]
    autocorrect = 1
[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    cmd           = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = true
    keepBackup    = false
[diff]
    tool = diffmerge
[difftool "diffmerge"]
    cmd = diffmerge $LOCAL $REMOTE
[difftool]
    prompt = false
[grep]
    extendRegexp = true
    lineNumber   = true
[push]
    default = simple
[commit]
  template = ~/.dotfiles/git/template.txt
