atom/atom.symlink/.node-gyp/
atom/atom.symlink/compile-cache/
atom/atom.symlink/packages/
atom/atom.symlink/storage/
atom/atom.symlink/projects.cson
atom/atom.symlink/nohup.out
git/gitconfig.symlink
*~
