[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/syntax-highlight"]
	path = zsh/syntax-highlight
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
