"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter-jshint"
      "go-rename"
      "welcome"
      "whitespace"
    ]
    hideGitIgnoredFiles: true
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Anonymous Pro"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "go-plus":
    currentPanelHeight: "22.545219638242894vh"
    disabledBundledPackages: [
      "go-rename"
      "go-debug"
    ]
    get:
      timeout: 0
    lint:
      args: [
        "--disable-all"
        "--json"
        "--vendor"
        "."
      ]
    navigator:
      mode: "guru"
    panelDisplayMode: "closed"
    test:
      runTestsOnSave: false
      runTestsWithVerboseFlag: true
  "go-rename": {}
  gofmt:
    formatTool: "goreturns"
  "linter-ui-default":
    panelHeight: 116
    showPanel: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    showIcons: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
