"*":
  "atom-beautify":
    _analyticsUserId: "ffd4ab29-bf27-43d2-94bd-694aa1f6562c"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    hideGitIgnoredFiles: true
    projectHome: "~/Code/"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "go-plus":
    goPath: "~/Code/Go"
  "go-rename": {}
  linter: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
