'packages': [
  'about'
  'archive-view'
  'atom-beautify'
  'atom-clock'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-jade'
  'atom-light-syntax'
  'atom-light-ui'
  'atom-material-syntax'
  'atom-material-ui'
  'atom-wrap-in-tag'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'busy-signal'
  'color-picker'
  'command-palette'
  'dalek'
  'deprecation-cop'
  'dev-live-reload'
  'editorconfig'
  'encoding-selector'
  'es6-javascript'
  'exception-reporting'
  'file-icons'
  'find-and-replace'
  'fuzzy-finder'
  'git-diff'
  'go-plus'
  'go-rename'
  'go-to-line'
  'grammar-selector'
  'icon-fonts'
  'image-view'
  'incompatible-packages'
  'intentions'
  'keybinding-resolver'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-diff'
  'language-docker'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-puppet'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-terraform'
  'language-text'
  'language-todo'
  'language-toml'
  'language-xml'
  'language-yaml'
  'line-ending-selector'
  'link'
  'linter'
  'linter-eslint'
  'linter-flow'
  'linter-jshint'
  'linter-markdown'
  'linter-pylint'
  'linter-ruby'
  'linter-sass-lint'
  'linter-scss-lint'
  'linter-shellcheck'
  'linter-ui-default'
  'markdown-preview'
  'markdown-writer'
  'metrics'
  'notifications'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-on-github'
  'package-generator'
  'parcel'
  'pigments'
  'platformio-ide-terminal'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'sort-lines'
  'spell-check'
  'status-bar'
  'stylefmt'
  'styleguide'
  'symbols-view'
  'tabs'
  'tabs-to-spaces'
  'timecop'
  'tree-view'
  'update-package-dependencies'
  'wakatime'
  'welcome'
  'whitespace'
  'wrap-guide'
]
