'.source.go':
  'return nil and error':
    'prefix': 'rne'
    'body': 'return nil, err'
  'return false and error':
    'prefix': 'rfe'
    'body': 'return false, err'
  'Return True and Nil':
    'prefix': 'rte'
    'body': 'return true, nil'
  'Create test':
    'prefix': 'test'
    'body': """
      func Test${1}(t *testing.T) {
        var assert = assert.New(t)
        ${2}
      }
    """
