[global_config]
  title_transmit_bg_color = "#bf616a"
  title_inactive_bg_color = "#65737e"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2b303b:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#c0c5ce:#65737e:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#eff1f5"
    foreground_color = "#c0c5ce"
    background_color = "#2b303b"
    cursor_color = "#c0c5ce"

  [[Base16 Ocean Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#2b303b:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#c0c5ce:#65737e:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#eff1f5"
    foreground_color = "#c0c5ce"
    background_color = "#2b303b"
    cursor_color = "#c0c5ce"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Ocean Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
